<header>
    <div class="header-logo">
        <a href="/">Decode Blog</a>
    </div>
    <div class="header-search">
        <input type="text" placeholder="Поиск по блогам">
        <button>
            <img src="/images/icons/search.svg" alt="">
            Найти
        </button>
    </div>
    <div class="header-buttons">
        <a class="blueButton" href="/register">Регистрация</a>
        <a class="blueButton" href="/signIn">Вход</a>
    </div>
</header>