<header>
    <div class="header-logo">
        <a href="/">Decode Blog</a>
    </div>
    <div class="header-search">
        <input type="text" placeholder="Поиск по блогам">
        <button>
            <img src="/images/icons/search.svg" alt="">
            Найти
        </button>
    </div>
    <a href="/myAccount">
        <div class="account-image">
            <img src="/images/account-image.jpg" alt="">
        </div>
    </a>
</header>
