<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Index</title>
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="main">
           <div class="main-content">
                <h2>Блоги по программированию</h3>
                <p class="main-content-description">
                    Популярные и лучшие публикации по программированию для начинающих
                    и профессиональных программистов и IT-специалистов.
                </p>
                <div class="main-post">
                    <div class="main-post-img">
                        <img src="/images/post-1.png" alt="">
                    </div>
                    <div class="main-post-content">
                        <div class="mainBlock">
                            <h3> <a href="/inPostWL">Обзор Report Manager от Webix</a> </h3>
                            <p> Осень 2020 года стала плодотворным временем для специалистов Webix.</p> 
                            <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье. </p>
                            <p>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его</p>
                        </div>
                          
                        <div class="main-post-info">
                            <p>
                                <img src="/images/icons/calendar.svg" alt="">
                                26.06.2020
                            </p>
                            <p>
                                <img src="/images/icons/eye.svg" alt="">
                                21
                            </p>
                            <p>
                                <img src="/images/icons/comments.svg" alt="">
                                4
                            </p>
                            <p>
                                <img src="/images/icons/razdel.svg" alt="">
                                Веб-разработка
                            </p>
                            <p>
                                <img src="/images/icons/user.svg" alt="">
                                Nast1289
                            </p>
                        </div>
                    </div>
                </div>
                <div class="main-post">
                    <div class="main-post-img">
                        <img src="/images/post-2.png" alt="">
                    </div>
                    <div class="main-post-content">
                        <div class="mainBlock">
                            <h3> <a href="">Разработчики изобрели методологию высокоскоростного программирования</a> </h3>
                            <p> Осень 2020 года стала плодотворным временем для специалистов Webix.</p> 
                            <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье. </p>
                            <p>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его</p>
                        </div>
                          
                        <div class="main-post-info">
                            <p>
                                <img src="/images/icons/calendar.svg" alt="">
                                26.06.2020
                            </p>
                            <p>
                                <img src="/images/icons/eye.svg" alt="">
                                21
                            </p>
                            <p>
                                <img src="/images/icons/comments.svg" alt="">
                                4
                            </p>
                            <p>
                                <img src="/images/icons/razdel.svg" alt="">
                                Веб-разработка
                            </p>
                            <p>
                                <img src="/images/icons/user.svg" alt="">
                                Nast1289
                            </p>
                        </div>
                    </div>
                </div>
           </div>
           <div class="categ">
                <h3>Категории</h3>
                <% 
                    categories.forEach(categ =>{
                %>
                    <a href="/<%=categ.key%>"><%=categ.name%></a>
                <%
                    }) 
                %>
           </div>
        </div>
    </div>
</body>
</html>