<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>New blog</title>
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="newBlog">
            <form class="newBlog-content" action="/api/new" method="POST" enctype="multipart/form-data">
                <h2>Новый блог</h2>
                <input type="text" placeholder="Введите заголовок блога" name="title">
                <select name="categ" id="">
                    <option value="" disabled selected>Выберите категорию</option>
                    <%
                        categories.forEach(categ =>{
                    %> 
                        <option value="<%=categ._id%>"><%=categ.name%></option>
                    <%
                        })
                    %>
                </select>
                <input class="yellowButton" type="file" name="image">
                <textarea name="description" id="" cols="30" rows="10" placeholder="Введите описание"></textarea>
                <button class="blueButton newBlogLink" type="submit">Создать</button>
            </form>
        </div>
    </div>
    
</body>
</html>