<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Register</title>
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="main-register">
            <h2>Регистрация</h2>
            <input type="email" placeholder="Введите e-mail">
            <input type="text" placeholder="Введите полное имя">
            <input type="password" placeholder="Введите пароль">
            <input type="password" placeholder="Подтвердите пароль">
            <a class="blueButton" href="#">Зарегистрироваться</a>
        </div>
    </div>
</body>
</html>