<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Register</title>
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <form action="/api/signup" method="POST" class="main-register">
            <h2>Регистрация</h2>
            <input type="email" placeholder="Введите e-mail" name="email">
            <input type="text" placeholder="Введите полное имя" name="fullName">
            <input type="password" placeholder="Введите пароль" name="password">
            <input type="password" placeholder="Подтвердите пароль" name="re_password">
            <button class="blueButton" type="submit">Зарегистрироваться</button>
        </form>
    </div>
</body>
</html>