<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Sign in</title>
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="main-sign-in">
            <h2>Вход</h2>
            <input type="email" placeholder="Введите e-mail">
            <input type="password" placeholder="Введите пароль">
            <a class="blueButton" href="/myAccount">Вход</a>
        </div>
    </div>
</body>
</html>