<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Decode</title>
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <form action="/api/signin" method="POST" class="main-sign-in">
            <h2>Вход</h2>
            <input type="email" placeholder="Введите e-mail" name="email">
            <input type="password" placeholder="Введите пароль" name="password">
            <button class="blueButton" type="submit">Вход</button>
        </form>
    </div>

    <%-include('partials/scripts.ejs')%>
    
</body>
</html>