
.comments-count{
    font-size: 24px;
}

.comment-img-name{
    display: flex;
    align-items: center;
    margin-bottom: 20px;   
}

.comment-img-name p{
    margin: 0;
    margin-left: 20px;
}

.comment{
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 15px;
}

.new-comment{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.new-comment textarea{
    padding: 10px;
    font-family: 'Roboto 400';
}

.new-comment button{
    width: fit-content;
    margin-top: 20px;
}

.new-comment-WL{
    padding: 20px;
    background-color: #FFF3CD;
}

.new-comment-WL p a{
    color: #00A2DC;
}

.new-comment-WL p{
    margin: 0;
    color: #856404;
}

.account-image{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.account-image img{
    width: 100%;
    height: 100%;
    
}