
header{
    padding: 30px 15%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

.header-logo{
    width: 30%;
}

.header-logo a{
    font-size: 50px;
    color: #00A2DC;
    text-decoration: none;
}

.header-search{
    width: 35%;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.header-search input{
    padding: 8px 10px;
    outline: none;
    border: none;
    width: 95%;
    font-size: 16px;
}

.header-search button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #00A2DC;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
}

.header-search button img{
    padding-right: 5px;
}

.header-buttons{
    width: calc(25% - 10px);
    display: flex;
    justify-content: space-evenly;
}